html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

path {
  fill: none;
  stroke: #84BAE6;
}

#path-text {
  font-size: 10px;
}

svg {
  cursor: grab;
}

svg:active {
  cursor: grabbing;
}

text {
  text-shadow:
    -1px -1px 3px #ccc,
    -1px  1px 3px #ccc,
     1px -1px 3px #ccc,
     1px  1px 3px #ccc;  
}